* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
 }

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Header */

/* Inizio navbar1 */

.navbar1 {
  height: 60px;
  border-bottom: 1px solid #007a8c;
}

#vl {
  margin-top: 10px;
  padding-left: 0;
  padding-right: 0;
}

#padding {
  padding-left: 0;
}

.navbar1_content a, .navbar1_content div {
  float: left;
  display: block;
  color: #007a8c;
  text-align: center;
  vertical-align: middle;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar1_content2 a, .navbar1_content2 div {
  float: right;
  display: block;
  margin-top: 6px;
  margin-left: 3%;
  color: #007a8c;
  text-align: center;
  vertical-align: middle;
  padding: 14px 16px;
  text-decoration: none;
}

.vl {
  border-left: 1px solid #007a8c;
  height: 5px;
  margin-left: 5px;
}

.btn {
  border-radius: 5px;
  color: white;
}

.sml {
  padding: 5px 10px;
}

.navbar1 .orange {
  background-color: #ffbcac;
  color: white;
}

.navbar1 .empty {
  color: #ffbcac;
  border: 1px solid #ffbcac;
}

.navbar1_content a:hover {
  text-decoration: underline;
}

.navbar1_content2 .empty:hover {
  background-color: #ffbcac;
  color: white;
}

.navbar1_content2 .orange:hover {
  background-color: white;
  color: #ffbcac;
  border: 1px solid #ffbcac;
}
/* Fine navbar1 */

/* Inizio navbar2 */

.navbar2 {
  height: 60px;
}

.navbar2_logo {
  float: left;
  margin-top: 15px;
  max-width: 100%;
}

.navbar2_content2 a {
  float: right;
  display: block;
  margin-top: 15px;
  margin-left: 3%;
  color: #007a8c;
  text-align: right;
  vertical-align: middle;
  padding: 14px 16px;
  text-decoration: none;
}

#padding2 {
  padding-right: 0;
}

.navbar2_content2 a:hover {
  text-decoration: underline;
}

/* Fine navbar2 */
/* Fine Header */
