* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
 }

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Header */

/* Inizio navbar1 */

.navbar1 {
  height: 60px;
  border-bottom: 1px solid #007a8c;
}

#vl {
  margin-top: 10px;
  padding-left: 0;
  padding-right: 0;
}

#padding {
  padding-left: 0;
}

.navbar1_content a, .navbar1_content div {
  float: left;
  display: block;
  color: black;
  text-align: center;
  vertical-align: middle;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar1_content2 a, .navbar1_content2 div {
  float: right;
  display: block;
  margin-top: 6px;
  margin-left: 3%;
  color: black;
  text-align: center;
  vertical-align: middle;
  padding: 14px 16px;
  text-decoration: none;
}

.vl {
  border-left: 1px solid black;
  height: 5px;
  margin-left: 5px;
}

.btn {
  border-radius: 5px;
  color: white;
}

.sml {
  padding: 5px 10px;
}

.navbar1 .orange {
  background-color: #ef775a;
  color: white;
}

.orange {
  background-color: #ef775a;
  color: white;
}

.navbar1 .empty {
  color: #ef775a;
  border: 1px solid #ef775a;
}

.navbar1_content a:hover {
  color: #007a8c;
  text-decoration: underline;
}

.navbar1_content2 .empty:hover {
  background-color: #ef775a;
  color: white;
}

.navbar1_content2 .orange:hover {
  background-color: white;
  color: #ef775a;
  border: 1px solid #ef775a;
}
/* Fine navbar1 */

/* Inizio navbar2 */

.navbar2 {
  height: 60px;
}

.navbar2_logo {
  float: left;
  margin-top: 15px;
  max-width: 100%;
}

.navbar2_content2 a {
  float: right;
  display: block;
  margin-top: 15px;
  margin-left: 3%;
  color: black;
  text-align: right;
  vertical-align: middle;
  line-height: 0;
  padding: 14px 16px;
  text-decoration: none;
}

#padding2 {
  padding-right: 0;
}

.navbar2_content2 a:hover {
  color: #007a8c;
  text-decoration: underline;
}

/* Fine navbar2 */

/* Inizio Banner */

.pink {
  background-image: url('../img/jumbotron.png');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  height: 700px;
  position: relative;
}

.col1_content1 {
  width: 35%;
}

.mid {
  padding: 15px;
}

.banner h1 {
  margin-bottom: 30px;
  font-size: 350%;
}

.banner p  {
  margin-bottom: 30px;
  font-size: 150%;
}

.banner a {
  text-decoration: none;
}

#top {
  margin-top: 30px;
}

.banner_text {
  position: absolute;
  top: 50px;
  text-align: left;
  left: 0;
  padding-right: 20px;
}

.banner a:hover {
  background-color: white;
  color: #ef775a;
  border: 1px solid #ef775a;
}
/* Fine Banner */
/* Fine Header */
